html{
    background-color: #2E2F30;
}
header{
    background-color: #191919;
    padding: 30px;
}
.logob{
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin-left: 3%;
}
i{
    border-radius: 100%;
}
.bannerb{
    width: 100%;
    height: 500px;
}
h1{
    text-align: center;
    color: red;
    margin-top: 3%;
}
p{
    
    text-align: justify;
    color: white;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 3%;
    font-size: larger; line-height: 1.5;

}
footer{
    text-align: end;
    margin-right: 2%;
    margin-top: 15%;
    color: #A49F9F;
}
nav{
    text-align: left;
    margin-bottom: 5%;
    
}
a{

    color: red;
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    opacity: 0.6;
   
}
a:hover{
    opacity: 1;
}